<div>
    <div class="row greybg padding10">
				
    <div class="row">
    <div class="col-sm-12 text-center">
    <h2>Reliability | Efficiency | Wellness</h2>  
    <div class="clear"></div>
    <span>Lorem ipsum loremipsum. Volor audae. Nequisquamvnient</span>
    </div>
    </div>
    
</div>
       
            <router-outlet></router-outlet>
            <div class="row">
                <div class="col-sm-12 text-center">
                <img src="assets/images/car-banner.jpg" />
                </div>
                </div>
                <div class="clear"></div>
                  
                  <div class="clear"></div>
                  <div class="row">
                    <div class="col-sm-12">
                    <hr/>
                    <p>{{contentBody}}</p>
                    <p class="m-t-20 m-b-20">
                  {{contentBody}}
                    </p>
                    <hr/>
                    </div>
                    </div>
                    <div class="clear"></div><div class="margintop10"></div><div class="clear"></div>
     </div>
     <div class="row">
     <div class="col-sm-12 text-center">
     <p><a  class="footerlinks1" >interior</a> | <a href="#" class="footerlinks1" (click)="onExterierClickEvent()">exterior</a> | <a href="#" class="footerlinks1">driveline</a> | <a href="#" class="footerlinks1">powertrain</a> | <a href="#" class="footerlinks1">underbody</a> | <a href="#" class="footerlinks1">fuel system</a> | <a href="#" class="footerlinks1">electrical system</a> | <a href="#" class="footerlinks1">communication</a></p>
     </div>
     </div>
     <div class="row">
	<div class="col-sm-1 col-md-1 col-xs-12 font-13 text-center col-sm-offset-4">
	<img src="assets/images/icon1.jpg" class="img-responsive" /> <br/>
	todays vehicles
	</div>
	<div class="col-sm-1 col-md-1 col-xs-12 font-13 text-center">
	<img src="assets/images/icon2.jpg" class="img-responsive" /> <br/>
	start and stop vehicles
	</div>
	<div class="col-sm-1 col-md-1 col-xs-12 font-13 text-center">
	<img src="assets/images/icon3.jpg" class="img-responsive" /> <br/>
	hybrid vehicles
	</div>
	<div class="col-sm-1 col-md-1 col-xs-12 font-13 text-center">
	<img src="assets/images/icon4.jpg" class="img-responsive" /> <br/>
	electric vehicles
	</div>
	</div>