li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
}
body{
	background:#ffffff !important;
}
textarea{resize:none;}
.bluetext{color:#00688a !important}
.blktext{color:#000000 !important}
.orgtext{color:#c9a81b !important}
.lightorgbg{background:#f7e7ad !important}
.flt-lft {
    float: left;
}

.flt-rgt {
    float: right;
}
.floatnone{ float:none !important;}
.textalignleft {
    text-align: left !important;
}

.textalignright {
    text-align: right;
}
.textaligncenter{
	text-align:center;
}
.padding20{
	padding:20px;
}
.paddingleftright2perc{
	padding-left:2% !important;
	padding-right:2% !important;
}
.paddingleftright5perc{
	padding-left:5% !important;
	padding-right:5% !important;
}
.paddingleftzero{padding-left:0 !important;}
.paddingrightzero{padding-right:0 !important;}
.paddingleft5{ padding-left:5px;}
.paddingleft10{ padding-left:10px;}
.paddingright10{ padding-right:10px;}
.paddingtop10{
	padding-top:10px !important;
}
.paddingtop20{
	padding-top:20px;
}
.paddingtop33 {
    padding-top: 33px;
}
.margintopminus6{
	margin-top:-6px !important;
}
.margintop3 {
    margin-top: 3px;
}
.margintop5 {
    margin-top: 5px;
}

.margintop10 {
    margin-top: 10px !important;
}
.margintop15perc{
	margin-top:15% !important;
}
.margintopbottom5{
	margin-top:5px;
	margin-bottom:5px;
}
.margintopbottom10{
	margin-top:10px;
	margin-bottom:10px;
}
.margintop20 {
    margin-top: 20px;
}
.margintop25{
	margin-top:25px;
}
.margintop30 {
    margin-top: 30px;
}

.margintop40 {
    margin-top: 40px;
}

.marginleft5 {
    margin-left: 5px;
}
.marginleft10{
	margin-left:10px;
}
.marginleft20 {
    margin-left: 20px;
}
.marginleftminus20{
	margin-left:-20px;
}
.marginleft112 {
    margin-left: 112px;
}

.marginleft50 {
    margin-left: 50px;
}

.marginleft75 {
    margin-left: 75px;
}

.marginleft118 {
    margin-left: 118px;
}

.marginleft156 {
    margin-left: 156px;
}

.marginright5 {
    margin-right: 5px !important;
}
.marginright8{
	margin-right:8px !important;
}
.marginright10 {
    margin-right: 10px !important;
}

.marginright20 {
    margin-right: 20px;
}

.marginright30 {
    margin-right: 30px;
}

.marginbottom5 {
    margin-bottom: 5px;
}

.marginbottom10 {
    margin-bottom: 10px;
}

.marginbottom20 {
    margin-bottom: 20px;
}

.marginzeroauto {
    margin: 0 auto !important;
}

.textalign-center {
    text-align: center;
}

.textalign-left {
    text-align: left;
}
.width55{
	width:55px;
}
.width65{
	width:65px;
}
.width80{
	width:80px;
}
.width100{
width:100px !important;	
}
.width150{
width:150px !important;	
}
.width195{
width:195px !important;	
}
.width200 {
    width: 200px;
}
.width265{
width:265px !important;	
}
.width272{
	width:272px !important;
}
.width300 {
    width: 300px;
}
.width350 {
    width: 350px;
}
.width400 {
    width: 400px;
}

.width500 {
    width: 500px;
}

.width600 {
    width: 600px;
}
.width900 {
    width: 900px;
}

.width425 {
    width: 425px;
}
.width10perc{
width:10%;	
}
.width18perc{
width:18%;	
}
.width100perc {
    width: 100% !important;
}
.fontnormal {
    font-weight: normal;
}

.fontbold {
    font-weight: bold !important;
}

.fontsize11 {
    font-size: 11px;
}
.fontsize15 {
    font-size: 15px;
}

.fontsize17 {
    font-size: 17px;
}

.none {
    display: none;
}
.lineheight25 {
    line-height: 25px;
}
.lineheight30{
	line-height:30px;
}
.lineheight35 {
    line-height: 35px;
}
.borderboxOne{
	border:solid 1px #6993ab !important;
	background:#ffffff !important;
	border-radius:0 !important;
}
.borderboxTwo{
	border:solid 1px #21bbe1 !important;
	background:#ffffff !important;
	border-radius:0 !important;
}
.borderleft{
	border-left:solid 1px #cccccc;
}
.borderright {
    border-right: solid 1px #ccc;
}
.borderbottom1{
	border-bottom:solid 1px #666666;
}
.borderbottom2{
	border-bottom:solid 2px #666666;
}

.bordercollapse {
    border-collapse: collapse;
}

.borerradius {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.padding2 {
    padding: 2px;
}
.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

.paddinglefttopright20 {
    padding: 20px 20px 0px 20px !important;
}
.paddingbottom8{
	padding-bottom:8px !important;
}
.height30 {
    height: 30px;
}
.height200 {
    height: 200px;
}

.height220 {
    height: 220px;
}

.height295 {
    height: 295px;
}

.height380 {
    height: 380px;
}

.overflow {
    overflow: hidden;
}

.overflowscroll {
    overflow-y: scroll;
}

.border1 {
    border: solid 1px #ccc;
}

.backgroundf7 {
    background: #f7f7f7;
}
.background-white {
    background: #fff;
}

.for-tab-cont{
margin-top:-33px;	
position:relative;
z-index:10000;
overflow:hidden;
width:100%;
}
.curv-bg{
width:117px;
height:32px;
background:url(../images/top-blue-btn-left-bg.jpg) no-repeat !important;	
}
.blue-bg{
width:1171px;
height:32px;
background: url(../images/blue-main-bg.jpg) no-repeat !important;	
}
.yellow-cont{
width:100%;
padding:2%;
overflow:hidden;
background:	#e0c242; /* Old browsers */
    background: -moz-linear-gradient(top, #f4f0e3 0%,  #e0c242 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f0e3), color-stop(100%,#e0c242)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f0e3 0%, #e0c242 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f0e3 0%, #e0c242 100%); /* Opera11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f0e3', endColorstr='#e0c242',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f4f0e3 0%, #e0c242 100%); /* W3C */
}
.main-cont{
width:100%;
padding:1%;
background:#fff;	
}

#profile {
	display: inline-block;
	overflow:hidden;
	padding-bottom:10px;
}
#menu1 {
	text-align: left;
}

.make-pay{
	width:146px;
	height:33px;
	border:0;
	margin:0;
	padding:0;
background:url(../images/button_make_payment.gif) no-repeat;	
}
.blue-title-bar{
width:100%;
background:#4a84b5;
color:#fff;
padding:5px 5px 5px 15px;
border-top-left-radius:30px;	
}
.whitebg{
	background:#ffffff;
}

/*-----Sticky footer starts----*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
 /*  margin-bottom: 60px; */
}
.footer {
  position: fixed;
  bottom: 0;
  /* Set the fixed height of the footer here */
  /* height: 50px; */
  line-height: 31px; /* Vertically center the text there */
  background-color: #00688a;
  z-index:10000;
  /* border-top:solid 2px #666666; */
  border-bottom:0;
  /* border-left:solid 1px #666666;
  border-right:solid 1px #666666; */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0 15px 40px !important;
  overflow:hidden;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
/*-----Sticky footer ends----*/
.btn-lg{
	padding:.45rem 1.25rem !important;
	border-radius:1.5rem !important;
}
.btn-primary{
	background-color:#515151 !important;
	border-color:#515151 !important;
	height:46px !important;
}
.purplebox{
	border-top:solid 5px #c492d3 !important;
	border:solid 1px #ededed;
	background:#ffffff !important;
	border-radius:0px !important;
	border-bottom-left-radius:16px !important;
	-moz-border-bottom-left-radius:16px !important;
	-webkit-border-bottom-left-radius:16px !important;
	border-bottom-right-radius:16px !important;
	-moz-border-bottom-right-radius:16px !important;
	-webkit-border-bottom-right-radius:16px !important;
	/* box-shadow:0px 3px 6px #ededed; */
}
.minheight550{
	min-height:550px;
}
.btn-success-outline{
	background-color:#c492d3 !important;
	border:solid 1px #c492d3 !important;
	color:#ffffff !important;
}
.navbar-light .navbar-nav .nav-link{
	font-weight:bold !important;
}
.lavendargrdnt{
	background-color: #EBF4FA; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EBF4FA), to(#f9f6ed));
 background-image: -webkit-linear-gradient(top, #EBF4FA, #f9f6ed);
 background-image: -moz-linear-gradient(top, #EBF4FA, #f9f6ed);
 background-image: -ms-linear-gradient(top, #EBF4FA, #f9f6ed);
 background-image: -o-linear-gradient(top, #EBF4FA, #f9f6ed);
 background-image: linear-gradient(to bottom, #EBF4FA, #f9f6ed);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EBF4FA, endColorstr=#f9f6ed);
}
.table{
	background:#ffffff !important;
}
.table thead th{
	background:#007ba4 !important;
	color:#ffffff !important;
	text-align:center;
}
.overflowhidden{
	overflow:hidden;
}
.navbar-inverse{
	background:#cce0e0 !important;
	border-bottom:solid 2px #3e9494 !important;
}
.green1{
	color:#000000 !important;
	background:#5bbd72 !important;
}
.whitetext{
	color:#ffffff !important;
}
.blacktext{
	color:#000000 !important;
}
.redtext{
	color:#cc0000 !important;
}
.greycolorbgf2{
	background:#f2f2f2 !important;
}
.bluecolorbg6699cc{
	background:#6699cc !important;
}
.borderradius3{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.radio{
	margin-top:0 !important;
	margin-bottom:0 !important;
}
.navbar-brand{
	height:auto !important;
}
.pagination{
	margin:0 !important;
}
.greencolorbg{
	background:green !important;
}
.orangetext{
	color:orange !important;
}
.greentext{
	color:green !important;
}
.greencolortext{
	color:green !important;
}
.greencolortext2{
	color:green !important;
}
.minheight724{
	min-height:724px;
}

.navbar-default .navbar-collapse{ 
background:#409f85 !important;
border-top:solid 2px #286dad !important;
}
.nav>li{ 
background:#0055a4 !important;
margin-right:3px;
 }
.nav>li a{color:#ffffff !important; /* font-size:16px !important; */}
.nav>li a:hover{background:#ea5e54 !important;}
.navbar{min-height:47px !important;}
.navbar-nav>li>a{
	/* padding:10px 28px !important; */
	padding:9px 9px !important
}
.navbar-default .navbar-nav>.active>a{
	color:#ffffff !important;
	background:#2f7db1 !important;
	border-bottom:solid 2px #ef4236 !important;
}
.pointereventsnone{pointer-events:none;}
.clear{clear:both;}
.showtop-one{
	position:relative;
	z-index:1;
}

.man-star{color:red;}

label {font-weight:normal !important;}
.page-header{margin:31px 0 10px !important;}
.hline{
	border-bottom:solid 1px #cccccc;
}
.marginzeroauto{ margin:0 auto !important;}
.vline{
	width:1px;
	border-right:solid 1px #cccccc;
	display:block;
	padding-left:10px;
	height:50px;
}
.lightgreybtn{
	background:#ededed !important;
	color:#000000 !important;
	border-color:#cccccc !important;
}
.greybtn{
	background:#515151 !important;
	color:#ffffff !important;
}
.greenbtn{
	background:#5bbd72 !important;
	color:#ffffff !important;
}
.linkbtn-one{ 
background:none !important;
color:#000000 !important;
text-decoration:none;
}
.linkbtn-one:hover{ 
background:none !important;
color:#f66600 !important;
font-weight:bold !important;
text-decoration:underline !important;
}
.navbar-brand{
	padding:9px 15px !important;
}
.navbar-inverse .navbar-nav>li>a{
	color:#ffffff !important;
}
.borderright1{
	border-right:solid 1px #cccccc;
}
.borderleft1{
	border-left:solid 1px #cccccc;
}
h2, h3, h4 {font-weight:bold !important;}
.btn{ 
/* padding:8px 13px !important; */
padding:8px 8px !important;
}
.btn-default{ 
font-weight:bold !important;
background:#868686 !important;
border:solid 1px #ffffff !important;
color:#ffffff !important;
font-weight:normal !important;
}
.btn-default:hover{ 
font-weight:bold !important;
background:#0178ad !important;
font-weight:normal !important;
}

.table-bordered{ border:1px solid #666666 !important;}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>td{ border:1px solid #666666 !important;}
.borderboxshadow{ border:solid 1px #cccccc; box-shadow:2px 3px 5px #666666;}
.margintop50 { margin-top:50px;}
.margintop100{ margin-top:100px;}
.greenmover{ color:#000000;}
.greenmover:hover{ color:#009900;}
.greenmoverfilled:hover{ color:green; background:lightgreen;}
.redmover{ color:#000000;}
.redmover:hover{ color:red;}
.fontsize16{ font-size:16px !important;}
.pagination>.active>a{ 
background:#ffffff !important;
border:0 !important;
border-top:solid 1px #5bbd72 !important;
color:#5bbd72 !important;
font-weight:bold;
}
.pagination>li>a{
	color:#000000 !important;
}
.borderrounded{
	border:solid 1px #666666;
	border-radius:5px !important;
	-moz-border-radius:5px !important;
	-webkit-border-radius:5px !important;
}
.borderlefttopbottomradius{
	border-top-left-radius:5px !important;
	border-bottom-left-radius:5px !important;
	-moz-border-top-left-radius:5px !important;
	-moz-border-bottom-left-radius:5px !important;
	-webkit-border-top-left-radius:5px !important;
	-webkit-border-bottom-left-radius:5px !important;
}
.borderrighttopbottomradius{
	border-top-right-radius:5px !important;
	border-bottom-right-radius:5px !important;
	-moz-border-top-right-radius:5px !important;
	-moz-border-bottom-right-radius:5px !important;
	-webkit-border-top-right-radius:5px !important;
	-webkit-border-bottom-right-radius:5px !important;
}
.displaynone{
	display:none;
}
#ViewDetailsOneTooltipone{
	background:#ffffff;
	border:solid 1px #666666;
	position:absolute;
	margin:6px 0px 0px -9px;
	box-shadow:2px 2px 2px #cccccc;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#ViewDetailsTwoTooltiptwo{
	background:#ffffff;
	border:solid 1px #666666;
	position:absolute;
	margin:6px 0px 0px -9px;
	box-shadow:2px 2px 2px #cccccc;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.popupTableOne tr th{
	padding:6px;
	background:#d7d7d7;
	color:#000000;
	font-weight:bold;
	border:solid 1px #666666;
}
.popupTableOne tr td{
	padding:5px;
	color:#000000;
	border:solid 1px #666666;
}
.popupTableOne tr:nth-child(odd)		{ background-color:#eee; }
.popupTableOne tr:nth-child(even)		{ background-color:#fff; }
.ui-dialog{ top:4% !important;padding:0 !important; border:solid 1px #666666 !important; z-index:100000 !important;box-shadow:0px 0px 3px #000000 !important;}
.ui-corner-all{ border-radius:0 !important;}
.ui-widget-header{ background:#2f7db1 !important;}
.ui-widget-overlay{ 
background:#000000 !important;
opacity:0.5 !important;
z-index:10000 !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{ float:left !important;}
.ui-dialog .ui-dialog-content{ overflow:hidden !important;}
.ui-dialog .ui-dialog-buttonpane button{ padding:4px 8px !important;}
.ui-dialog .ui-dialog-title{color:#ffffff !important;}
.ui-dialog .ui-dialog-titlebar-close{ background:url(../images/cross-sml.png) no-repeat !important; border:0 !important;}
.editgreenbtn { background:url("../images/edit.png") no-repeat; width:16px; height:16px; border:0;}
.editgreenbtn:hover{ background:url("../images/edit-green.png") no-repeat;width:16px; height:16px;  border:0;}

.crossredbtn { background:url("../images/cross-sml.png") no-repeat; width:16px; height:16px; border:0;}
.crossredbtn:hover{ background:url("../images/cross-sml-green.png") no-repeat;width:16px; height:16px;  border:0;}

.plusgreenbtn { background:url("../images/plus.png") no-repeat; width:16px; height:16px; border:0;}
.plusgreenbtn:hover{ background:url("../images/plus-green.png") no-repeat;width:16px; height:16px;  border:0;}

.cargreenbtn { background:url("../images/car-plus.png") no-repeat; width:18px; height:16px; border:0;}
.cargreenbtn:hover{ background:url("../images/car-plus-green.png") no-repeat;width:18px; height:16px;  border:0;}

.usergreenbtn { background:url("../images/user-plus.png") no-repeat; width:16px; height:16px; border:0;}
.usergreenbtn:hover{ background:url("../images/user-plus-green.png") no-repeat;width:16px; height:16px;  border:0;}
.navbar-brand{ height:auto !important; }
.navbar-collapse{ padding:0px 2px 0px 2px !important;}
.breadcrumb > li + li::before{ content:"> " !important;}
.navbar{
	margin-bottom:0 !important;
	}
	
	.greybg{ background:#f9f9f9 !important;}
	.thickbluebg{ background:#007ba4 !important;}
	.lightbluebg{ background:#00a7de !important;}
	.input-group-addon{ padding:6px 67px}
	.linkbtnOne{ color:#000000;text-decoration:underline;}
	.linkbtnOne:hover{ color:#000000;text-decoration:none;cursor:pointer;}
	.linkbtnTwo{ color:#ffffff !important; text-decoration:none;}
	.linkbtnTwo:hover{ color:#ffffff;text-decoration:underline;cursor:pointer;}
	.thickgreybg{background:#515151 !important; border:solid 1px #515151 !important;}
	.boxshadowOne{box-shadow:0px 2px 6px #cccccc;}
	.nav-tabs>li{
		margin-right:1px !important;
	}
	.nav-tabs>li>a{
		background:#515151 !important;
		border-bottom:solid 2px #515151 !important;
		border-radius:0 !important;
	}
	.nav-tabs>li.active>a{
		background:#2f7db1 !important;
		border-bottom:solid 2px #ea5e54 !important;
		border-radius:0 !important;
	}
	.nav-tabs>li.active>a:hover{
		background:#515151 !important;
		border-bottom:solid 2px #515151 !important;
		border-radius:0 !important;
	}
	.tab-content0{ padding:0 !important;overflow:hidden;background:#f2f2f2;}
	.tab-content{ padding:10px !important;overflow:hidden;border:solid 1px #cccccc;}
	.slider div h3{width:150px !important;margin-right:30px;}
	.slick-initialized .slick-slide{width:auto !important;}
	.bluestrip{background:#286dad;padding:5px;display:inline-block;width:100%;vertical-align:middle;}
	.bluestrip span{color:#ffffff; margin:0;font-size:15px;}
	.lightbluestrip{background:#2f7db1;padding:5px;display:inline-block;width:100%;vertical-align:middle;}
	.lightbluestrip span{color:#ffffff; margin:0;font-size:15px;}
	.loginLogosCont{
		background:#ffffff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin:10px 0px;
	overflow:hidden;
	}
	/* #showresultstable tr th, #showresultstable tr td{border:0 !important;} */
	/* #showresultstable tr th:nth-child(1),#showresultstable tr td:nth-child(1){ */
		/* width:5%;text-align:center; */
		/* vertical-align:middle; */
	/* } */
	/* #showresultstable tr th:nth-child(2),#showresultstable tr td:nth-child(2){ */
		/* width:5%;text-align:center; */
		/* vertical-align:middle; */
	/* } */
	/* #showresultstable tr th:nth-child(3),#showresultstable tr td:nth-child(3){ */
		/* /* width:10%;text-align:center; */ */
		/* vertical-align:middle; */
	/* } */
	/* #showresultstable tr th:nth-child(4),#showresultstable tr td:nth-child(4){ */
		/* width:20%;text-align:center; */
		/* vertical-align:middle; */
	/* } */
	/* #showresultstable tr th:nth-child(5),#showresultstable tr td:nth-child(5){ */
		/* width:15%;text-align:center; */
		/* vertical-align:middle; */
	/* } */
	/* #showresultstable tr th:nth-child(6),#showresultstable tr td:nth-child(6){ */
		/* width:10%;text-align:center; */
		/* vertical-align:middle; */
	/* } */
	/* #showresultstable tr th:nth-child(7),#showresultstable tr td:nth-child(7){ */
		/* width:10%;text-align:center; */
		/* vertical-align:middle; */
	/* } */
	/* #showresultstable tr th:nth-child(8),#showresultstable tr td:nth-child(8){ */
		/* width:10%;text-align:center; */
		/* vertical-align:middle; */
	/* } */
	/* #showresultstable tr th:nth-child(9),#showresultstable tr td:nth-child(9){ */
		/* width:5%;text-align:center; */
		/* vertical-align:middle; */
	/* } */
	/* #showresultstable tr th:nth-child(10),#showresultstable tr td:nth-child(10){ */
		/* width:10%;text-align:center; */
		/* vertical-align:middle; */
	/* } */
	
	
	#backorders tr th, #backorders tr td{border:0 !important;}
	#backorders tr th:nth-child(1),#backorders tr td:nth-child(1){
		width:5%;text-align:center;
		vertical-align:middle;
	}
	#backorders tr th:nth-child(2),#backorders tr td:nth-child(2){
		width:5%;text-align:center;
		vertical-align:middle;
	}
	#backorders tr th:nth-child(3),#backorders tr td:nth-child(3){
		width:10%;text-align:center;
		vertical-align:middle;
	}
	#backorders tr th:nth-child(4),#backorders tr td:nth-child(4){
		width:20%;text-align:center;
		vertical-align:middle;
	}
	#backorders tr th:nth-child(5),#backorders tr td:nth-child(5){
		width:15%;
		text-align:left;
		vertical-align:middle;
	}
	#backorders tr th:nth-child(6),#backorders tr td:nth-child(6){
		width:10%;text-align:center;
		vertical-align:middle;
	}
	#backorders tr th:nth-child(7),#backorders tr td:nth-child(7){
		width:20%;text-align:center;
		vertical-align:middle;
	}
	#backorders tr th:nth-child(8),#backorders tr td:nth-child(8){
		width:15%;text-align:center;
		vertical-align:middle;
	}
	#backorders tr th:nth-child(9),#backorders tr td:nth-child(9){
		width:10%;text-align:center;
		vertical-align:middle;
	}
	
	
	#trackshipments tr th, #trackshipments tr td{border:0 !important;}
	#trackshipments tr th:nth-child(1),#trackshipments tr td:nth-child(1){
		width:5%;text-align:center;
		vertical-align:middle;
	}
	#trackshipments tr th:nth-child(2),#trackshipments tr td:nth-child(2){
		width:15%;text-align:center;
		vertical-align:middle;
	}
	#trackshipments tr th:nth-child(3),#trackshipments tr td:nth-child(3){
		width:10%;
		text-align:center;
		vertical-align:middle;
	}
	#trackshipments tr th:nth-child(4),#trackshipments tr td:nth-child(4){
		width:20%;text-align:center;
		vertical-align:middle;
	}
	#trackshipments tr th:nth-child(5),#trackshipments tr td:nth-child(5){
		width:25%;
		text-align:left;
		vertical-align:middle;
	}
	#trackshipments tr th:nth-child(6),#trackshipments tr td:nth-child(6){
		width:15%;
		text-align:center;
		vertical-align:middle;
	}
	.btn-red{background:#d95c5c;color:#ffffff;}
	.btn-red:hover{background:#d95c5c;color:#ffffff;}
.carousel-control.right{ padding-top:13%;}
.carousel-control.left{ padding-top:13%;}
.slick-next{
	right:20px !important; 
	z-index:10 !important;
	color:#000000 !important;
	/* background:url(../images/next.png) no-repeat !important; */
}
/* .slick-slider .slick-next{
	background-image:url(../images/sprite.png) !important;
	background-position:50px 50px !important;
	background-repeat:no-repeat !important;
} */

.fa-chevron-left, .fa-chevron-right{
	color:#000000 !important;
}
.slick-next:before{
	content:"\003e" !important;
	color:#000000 !important;
	font-weight:bold !important;
	font-size:40px !important;
}
.slick-prev:before{
	content:"\003c" !important;
	color:#000000 !important;
	font-weight:bold !important;
	font-size:40px !important;
}
.fa-chevron-right:before{
	content:"\003e" !important;
	color:#000000 !important;
	font-weight:bold !important;
	font-size:40px !important;
	color:#ffffff !important;
}
.fa-chevron-left:before{
	content:"\003c" !important;
	color:#000000 !important;
	font-weight:bold !important;
	font-size:40px !important;
	color:#ffffff !important;
}
.slick-prev{
	left:20px !important;
	z-index:11 !important;
	}
	.slick-slider{
		padding-left:15% !important;
		padding-right:9% !important;
	}
	.tileOne{
		background:#2f7db1;
		padding:10px;
		min-height:122px;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	}
	.tileOne:hover{
		background:#ea5e54;
		padding:10px;
		min-height:122px;
		cursor:pointer;
		box-shadow:2px 3px 4px #666666;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	}
	.tileOne h1, .tileOne span{color:#ffffff;}
	.slick-list{top:15px !important;}
	.carousel-indicators{bottom:4px !important;}
	.dropdown-menu{min-width:auto !important;}
	.form-control2{background:#ffffff; border:solid 1px #cccccc;padding:3px 5px;}
	.dropdown-menu>li>a{padding:0px 3px !important;}
	.loginLogosCont {list-style:none;min-height:255px;}
	.loginLogosCont ul {padding-left:0;}
	.loginLogosCont ul li{list-style:none;float:left;width:30%;}
	.loginLogosCont ul li img{float:left;}
	.minheight180{min-height:180px;}
	


@media screen and (max-device-width: 480px) and (min-device-width: 320px) {
	.control-label{
		text-align:left !important;
	}
	.breadcrumb a:first-child{
		padding-left:16px !important;
	}
	.breadcrumb a{
		padding:0 10px 0 33px !important;
	}
	
	.navbar-default .navbar-collapse{ padding-left:15px !important;}
	.navbar-inverse .navbar-collapse{
	position:relative;
	top:-87px;
	border-top:0 !important;
	z-index:2;
}
.marginbottom10-mb{
	margin-bottom:10px;
}
.marginbottom15-mb{
	margin-bottom:15px;
}
.margintopzero-mb{ margin-top:0px;}
.fontsize11-mb{ font-size:11px;}
.textalignleft-mb{text-align:left;}

.marginbottom10-mb{
	margin-bottom:10px;
}
.marginbottom15-mb{
	margin-bottom:15px;
}
.margintopzero-mb{ margin-top:0px;}
.fontsize11-mb{ font-size:11px;}
.textalignleft-mb{text-align:left;}


/* @media screen and (max-device-width: 667px) and (min-device-width: 375px) {
	.control-label{
		text-align:left !important;
	}
	.navbar-default .navbar-collapse{ padding-left:15px !important;}
	.navbar-inverse .navbar-collapse{
	position:relative;
	top:-87px;
	border-top:0 !important;
	z-index:2;
} */
.marginbottom10-mb{
	margin-bottom:10px;
}
.marginbottom15-mb{
	margin-bottom:15px;
}
.margintopzero-mb{ margin-top:0px;}

.panel-title{
	margin-top:0 !important;
	background:transparent !important;
}
.fontsize11-mb{ font-size:11px;}
.textalignleft-mb{text-align:left;}

/*#Other Styles#*/
.productBox{ width:350px; /* height:160px; */ margin:0 auto;overflow:hidden;}
.popupTable{width:100%;}
.popupTable tr td{border:solid 1px #888888; padding:5px;}
.popupTable tr:nth-child(even){background:#f2f2f2;}
.blueTitle{padding:6px 20px;background:#2f7db1;color:#ffffff;}
.productBox #myCarousel .carousel-control.left{
	padding-top:42%;
}
.productBox #myCarousel .carousel-control.right{
	padding-top:42%;
}
.borderzero{border:0 !important;}
.jumbotron .input-group .input-group-addon{
	padding:4px 80px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.greygrdntstrip{
	width:100%;
	min-height:20px;
	background-color: #d3d1d1; 
 background-image: -webkit-linear-gradient(top, #d3d1d1, #fbfbfb);
 background-image: -moz-linear-gradient(top, #d3d1d1, #fbfbfb);
 background-image: -ms-linear-gradient(top, #d3d1d1, #fbfbfb);
 background-image: -o-linear-gradient(top, #d3d1d1, #fbfbfb);
 background-image: linear-gradient(to bottom, #d3d1d1, #fbfbfb);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d1d1, endColorstr=#fbfbfb);
}
.blackstrip{
	width:100%;
	min-height:20px;
	background:#000000;
}
.blueroundedBox{
	background:#2679b5;
	padding:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow:hidden;
	color:#ffffff;
	font-weight:normal !important;
	font-size:13px !important;
}
.logoutbtn{
	color:#676a6c;
}
.logoutbtn:hover{
	color:orange;
	text-decoration:underline;
}
.input-group .form-control{
	height:46px !important;
}
.m-t-5{margin-top:5px !important;}
.m-r-5{margin-right:5px !important;}
.m-b-5{margin-bottom:5px !important;}
.m-l-5{margin-left:5px !important;}

.m-t-10{margin-top:10px !important;}
.m-r-10{margin-right:10px !important;}
.m-b-10{margin-bottom:10px !important;}
.m-l-10{margin-left:10px !important;}

.m-t-15{margin-top:15px !important;}
.m-r-15{margin-right:15px !important;}
.m-b-15{margin-bottom:15px !important;}
.m-l-15{margin-left:15px !important;}

.m-t-20{margin-top:20px !important;}
.m-r-20{margin-right:20px !important;}
.m-b-20{margin-bottom:20px !important;}
.m-l-20{margin-left:20px !important;}

.p-t-5{padding-top:5px !important;}
.p-r-5{padding-right:5px !important;}
.p-b-5{padding-bottom:5px !important;}
.p-l-5{padding-left:5px !important;}

.p-t-10{padding-top:10px !important;}
.p-r-10{padding-right:10px !important;}
.p-b-10{padding-bottom:10px !important;}
.p-l-10{padding-left:10px !important;}

.p-t-15{padding-top:15px !important;}
.p-r-15{padding-right:15px !important;}
.p-b-15{padding-bottom:15px !important;}
.p-l-15{padding-left:15px !important;}

.p-t-20{padding-top:20px !important;}
.p-r-20{padding-right:20px !important;}
.p-b-20{padding-bottom:20px !important;}
.p-l-20{padding-left:20px !important;}

.font-18{
	font-size:18px !important;
}
.font-20{
	font-size:20px !important;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-left:12px !important;
	padding-right:8px !important;
}
#logincont .input-group-addon{
	padding:6px 12px !important;
	background:#00a7de !important;
	color:#ffffff !important;
}
a{
	color:#1e1e1e !important;
}

/*------breadcrumb css starts------*/
.breadcrumb {
    display: inline-block;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-radius: 5px;
    counter-reset: flag;
text-align:center;
padding:0 !important;
margin-bottom:0 !important;
}
.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: white !important;
    padding: 0 10px 0 33px;
    background: #474747;
    position: relative;
}
.breadcrumb a:first-child:before {
    left: 14px;
}
.breadcrumb a:before {
    content: counter(flag);
    counter-increment: flag;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    background: #007ba4;
    font-weight: bold;
	display:none;
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
    background: #00a7de;
}
.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: #474747;
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
    border-radius: 0 5px 0 50px;
}
.breadcrumb a.active, .breadcrumb a:hover {
    background: #00a7de;
}
.breadcrumb a:first-child {	
    padding-left: 20px;
    border-radius: 5px 0 0 5px;
}
/*-------breadcrumb css ends-------*/

hr{margin-top:5px !important; margin-bottom:5px !important;border:solid 1px #8b8b8b !important;}
.control-label{
	text-align:right;
	line-height:28px !important;
}
.img-responsive{
	display:inline-block;
}
.footerlinks1{
	color:#000000;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
}
.footerlinks1:hover{
	color:#000000;
	font-size:15px;
	font-weight:bold;
	text-decoration:underline;
}
.font-13{
	font-size:13px !important;
}
}